.join-pool, .create-pool {
  display: flex;
  align-items: center;
}

.pool-panel-wrapper {
  width: 100%;
  display: flex;
  flex-direction: row;
}

.pool-players-list {
  flex-basis: 80%;
}

.pool-actions {
  flex: 1;
  justify-content: flex-end;
  display: flex;
}

.pool-admin {
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;
}

.avatar-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  span {
    margin-top: 10px;
  }
}