.join-pool, .create-pool {
  display: flex;
  align-items: center;
}

.pool-panel-wrapper {
  width: 100%;
  display: flex;
  flex-direction: row;
}

.pool-players-list {
  flex: 1;
}

.pool-actions {

}

.pool-admin {
  display: flex;
  justify-content: space-between;
}
